<nav>
    <div class="menu noWrap">
        <div>@Html.ActionLink("Home", "Index", "Home")</div>
        <div>@Html.ActionLink("Blog", "Index", "BlogArticle")</div>
        <div>@Html.ActionLink("Music", "Index", "Audio")</div>
        <div>@Html.ActionLink("Gigs", "Index", "Performance")</div>
        <div>@Html.ActionLink("About", "About", "Home")</div>
    </div>
</nav>